<div class="container">

    <br/>
    <br/>

    <div class="row">
        <div class="col-9">
            <h2>Employees Management System</h2>
        </div>
        <div class="col">
            <button type="button" class="btn btn-dark" routerLink="addEmployee">Hire!</button>
        </div>
    </div>
    <br/>
    <table *ngIf="employees.length > 0" class="table table-borderless">
        <thead>
            <tr>
            <th scope="col">Employee Id</th>
            <th scope="col">Name</th>
            <th scope="col">Address</th>
            <th scope="col">Phone</th>
            <th scope="col">Country</th>
            <th scope="col">Actions</th>
            
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let employee of employees">
                <td>{{employee.id}}</td>
                <td>{{employee.name}}</td>
                <td>{{employee.address}}</td>
                <td>{{employee.phone}}</td>
                <td>{{employee.country}}</td>
                <td>
                    <button type="button" class="btn btn-dark" routerLink="editEmployee/{{employee.id}}">Edit</button>
                    &nbsp; &nbsp;
                    <button type="button" class="btn btn-danger" (click)="deleteEmployee(employee.id)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>

</div>

