<div class="container">

    <br/>
    
    <a href="#" class="badge badge-dark" (click)="goBack();">Go Back</a>

    <br/>
    <br/>

    <h2>Edit Employee</h2>

    <br/>

    <form #Form="ngForm" (ngSubmit)="editEmployee(employee)">
        <div class="form-group">
            <label for="id">Employee Id</label>
            <input type="number" class="form-control" id="id" placeholder="Enter Employee Id" name="id" [(ngModel)]="employee.id" disabled>
          </div>
        <div class="form-group">
          <label for="name">Employee Name</label>
          <input type="text" class="form-control" id="name" placeholder="Enter Employee Name" name="name" [(ngModel)]="employee.name">
        </div>
        <div class="form-group">
            <label for="address">Address</label>
            <input type="text" class="form-control" id="address" placeholder="Enter Address" name="address" [(ngModel)]="employee.address">
          </div>
          <div class="form-group">
            <label for="phone">Phone</label>
            <input type="text" class="form-control" id="phone" placeholder="Enter phone" name="phone" [(ngModel)]="employee.phone">
          </div>
          <div class="form-group">
            <label for="country">Employee Country</label>
            <input type="text" class="form-control" id="country" placeholder="Enter Country" name="country" [(ngModel)]="employee.country">
          </div>
        
        <button type="submit" class="btn btn-primary">Edit Employee</button>
    </form>

</div>

